/*
	Diseño Web: Zkpro_Designer,
	Desarrollador: Alfredo Marcano;
	Estylos: Alfredo Marcano;
	Estrutura: Alferdo Marcano;
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Paleta de colores */
:root{
	--orange-text:#bd980d;
	--orange-backgroun:#f3c104;
	--black-gradient:#1e1d22;
	--grey-gradient:#3c424a;
}

header{
	min-height: 100vh;
	position: relative;
	background: orange
}

	nav{
		position: fixed;
		background: red;
		width: 100%;
		height: 70px;
		display: block;
		z-index: 99;
	}

.cont85{ margin: 0 auto; width: 85%; }
.cont90{ margin: 0 auto; width: 90%; }
.d-flex-bet{ display: flex; justify-content: space-between; }

section{
	padding: 2em;
	/*min-height: 100vh;*/
}

.sc1{
	/*background: green;*/
}

.sc2{
	background: linear-gradient(to bottom, var(--black-gradient), var(--grey-gradient));
	position: relative;
	display: flex;
	justify-content: space-between;
}
	.sc2:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 2em;
		background: var(--orange-backgroun);
	}

	article{
		width: 100%;
		margin: 0 -10px;
		padding: 0 25px;
	}

	.sc2-img{
		background: var(--orange-backgroun);
		padding: 1.5rem 1.5rem 1.5rem 6rem;
		position: relative;
		display: flex;
	}

		.sc2-img:before{
			z-index: 1;
			content: 'FOUNDER';
			position: absolute;
			top: 50%;
			left: 0;	
			font-size: 6em;
			transform: translate(-50%, -50%) rotate(270deg);
			color: white;
		}

	.sc2-text{
		color: white;
		padding: 3em 5em;
	}
		.sc2-text h2{
			color: var(--orange-text);
		}

.sc3{
	background: yellow;
	position: relative;
	background: linear-gradient(to right, white 47%, var(--orange-backgroun) 47%);
}

	.sc3:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 1.5em;
		background: linear-gradient(to bottom, var(--grey-gradient), var(--black-gradient))
	}

	.sc3-text{
		padding:0 6em 0 3em;
	}

	.sc3-img{

	}

.sc4{
	background: white;
	position: relative;
}

	.sc4:before{
		z-index: 1;
		position: absolute;
		content: '';
		width: 40%;
		top: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, var(--black-gradient), var(--grey-gradient));
	}

	.sc4-img{
		display: flex;
		align-items: center;
		z-index: 2;
	}

		.sc4-img figure{
			height: 100%;
			width: 100%;
			margin: 0 10px;
		}

		.sc4-img img{
			object-fit: cover;
		}

.sc5{
	/*background: purple;*/
}

.sc6{
	/*background: pink;*/
}

.sc7{
	/*background: red;*/
}

.sc8{
	/*background: orange;*/
}

.sc9{
	/*background: green;*/
}

footer{
	background: black;
	color: white;
}